# Python Sanal Ortamları
venv/
.venv/
env/
__pycache__/
*.pyc

# IDE Ayar Dosyaları
.vscode/
.idea/

# Ortam Değişkenleri
.env

# Vektör Veritabanı ve Kaynak Veriler (Tam klasörleri engelliyoruz)
vector_db/
data/

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db

# Log Dosyaları
*.log